$mainColour: #020069;
$altColour: #6D9DDF;
$boxHover: #2E2D5F;
$footerColour: #2E2D5F;
$footerTextColour: #fff;
$footerLinkColour: #fff;
$footerLinkColourHover: #67a0e6;

$headingColour: #67a0e6;
$navHoverColour: #01006c;
$fontColour: #4d5c6f;

$mainFont: 'CircularStdBlack';
$altFont: 'CircularStdBook';

.ajb-submit-cv-button {
    background-color: $mainColour;
    color: $mainColour;
    border: 2px solid $mainColour;
    border-radius: 0px;
    margin-top: 2em;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}


.ajb-submit-cv-button:hover {
    background-color: #fff;
    color: $mainColour;
    border: 2px solid $mainColour;
    border-radius: 0px;
    margin-top: 2em;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}


.ajb-hotjobs-widget ul li {
    list-style-type: none;
    min-height: 10px;
    padding: 0px 0 0 0px;
    width: 240px;
    color: $fontColour !important;
}

.ajb-hotjobs-widget li {
    list-style-type: none;
    min-height: 10px;
    padding: 0px 0 0 0px;
    width: 240px;
    color: $fontColour !important;
}
    

    
.ajb-subscribe-job-alerts {
    background-color: $mainColour;
    color: #fff !important;
    border: 1px solid $mainColour;
    border-radius: 0;
    height: auto !important;
    padding: 3px 10px !important;
    text-indent: 0 !important;
    margin-top: 2em;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}

.ajb-subscribe-job-alerts:hover {
    background-color: $altColour;
    color: #fff !important;
    border: 1px solid $altColour;
    border-radius: 0;
    margin-top: 2em;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}


.ajb-hotjobs-widget h2 {
    font-size: 30px !important;
    color: $mainColour;
    margin-bottom: 2em;
}
label {
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px
}



.ajb-view-all-jobs-button {
    background-color: $mainColour;
    color: #FFF;
    border: 1px solid $mainColour;
    border-radius: 0;
    margin-top: 2em;
    margin-right: 28px !important;
    font-weight: 400;
    font-family: $mainFont;
    font-size: 13px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}

.ajb-view-all-jobs-button {
    float: right;
    margin-right: 28px; 
}

.ajb-view-all-jobs-button:hover {
    background-color: $altColour;
    color: #FFF !important;
    border: 1px solid $altColour;
    border-radius: 0;
    margin-top: 2em;
    margin-right: 28px;
    font-weight: 400;
    font-family: $mainFont;
    font-size: 13px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}

.ajb-search-for-jobs-button,
a.register{
    background-color: $mainColour;
    color: #fff;
    border: 1px solid $mainColour;
    border-radius: 0;
    margin-top: 2em;
    font-weight: 400;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    width: 150px;
}

.ajb-search-for-jobs-button:hover,
a.register:hover {
    background-color: $altColour;
    color: #fff !important;
    border: 1px solid $altColour;
    border-radius: 0;
    margin-top: 2em;
    font-weight: 400;
    font-family: $mainFont;
    font-size: 14px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
}

a.register {
    color: #FFF !important;
    padding: 0;
    margin-top: 15px !important;
    display: block;
    text-align: center;
    width: 82px;
    text-indent: 0 !important;
    padding: 2px 0 !important;
}

a.register:hover {
    text-decoration: none !important;
}

.ajb-hotjobs-widget .adlogic-hot-jobs-job a {
    color: $mainColour;
    margin-bottom: 0em;
    font-size: 14px;
}

.ajb-hotjobs-widget .adlogic-hot-jobs-job a:hover {
    color: $altColour;
    margin-bottom: 0em;
    font-size: 14px;
}


.ajb-hotjobs-widget ul li.even {
    font-weight: 400;
    font-size: 14px;
    color: $fontColour !important;
}


.ajb-hotjobs-widget ul li.odd {
    font-weight: 400;
    font-size: 14px;
    color: $fontColour !important;
}


.ajb-hotjobs-widget ul li.adlogic-hot-jobs-job {
    list-style-type: none;
    min-height: 0px;
    padding: 10px 0 0 10px;
    color: $fontColour !important;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
}





.adlogic_job_results .position {
    border: 1px solid #CCCCCC;
    margin: 10px 5px;
    padding: 10px 10px 20px 10px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: bottom right;
}


.adlogic_job_results:hover .position:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid $mainColour;
}





.adlogic_job_results h2 {
    color: $mainColour;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.adlogic_job_results h2 a {
    text-decoration: underline;
    color: $mainColour;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}


.adlogic_job_results h2 a:hover {
    text-decoration: underline;
    color: $mainColour;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}

.position span.ajb_location ul a, .position span.ajb_classification ul a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: $fontColour;
}







.adlogic_job_details_apply {
    background-color: $mainColour;
    color: #FFF;
    border: 1px solid $mainColour;
    border-radius: 0px;
    margin-top: 2em;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}


.adlogic_job_details_apply:hover {
    background-color: $altColour;
    color: #FFF;
    border: 1px solid $altColour;
    border-radius: 0px;
    margin-top: 2em;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
    width: 150px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}


.adlogic_job_details_email_friend {
    background-color: $mainColour;
    color: #FFF;
    border: 1px solid $mainColour;
    border-radius: 0px;
    margin-top: 2em;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}

.adlogic_job_details_email_friend:hover {
    background-color: $altColour;
    color: #fff;
    border: 1px solid $altColour;
    border-radius: 0px;
    margin-top: 2em;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}



.adlogic_job_details_back {
    background-color: $mainColour;
    color: #fff;
    border: 1px solid $mainColour;
    border-radius: 0px;
    margin-top: 2em;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    width: 190px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}

.adlogic_job_details_back:hover {
    background-color: $altColour;
    color: #fff;
    border: 1px solid $altColour;
    border-radius: 0px;
    margin-top: 2em;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    line-height: 40px;
    transition: all 200ms ease-in-out;
    margin-bottom: 2em;
}



/* JOB DESCRITION */


.adlogic_job_details_title {
    color: $mainColour;
    font-family: $mainFont;
    font-size: 22px;
    font-weight: 700;
}


.adlogic_job_details_title a {
    text-decoration: underline;
    color: $mainColour;
    text-decoration: underline;
    font-family: $altFont;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.adlogic_job_details_footer {
    font-family: $altFont;
    font-size: 14px;
    font-weight: 400;
}



.adlogic_job_details_container {
    width: 440px;
    padding: 40px 20px 20px 20px;
    position: relative;
    border: 1px solid #CDCDCD;
    margin: 21px auto 0;
    clear: both;
}




.print-job a {
    text-decoration: none;
    font-family: $altFont;
    font-size: 14px;
    color: $fontColour;
    font-weight: 400;
}

.print-job a:hover {
    font-family: $altFont;
    font-size: 14px;
    color: $fontColour;
    font-weight: 600;
}



.email-job a {
    text-decoration: none;
    font-family: $altFont;
    font-size: 14px;
    color: $fontColour;
    font-weight: 400;
}

.email-job a:hover {
    font-family: $altFont;
    font-size: 14px;
    color: $fontColour;
    font-weight: 600;
}


.adlogic_pagination_bar ul li {
    padding: 5px;
    float: left;
    text-align: center;
    font-size: 14px;
    list-style-type: none;
    margin: 2em 0em 0em 0em;
}


.adlogic_job_details_button_bar {
    text-align: center;
    clear: both;
    padding: 2em 0em 2em 0em;
}



.ajb-search-widget {
    font-family: $altFont;
    padding-left: 15px;
    padding-right: 15px;
}


.ajb-search-widget h2 {
    font-family: $mainFont;
    font-weight: 700;
}



.ajb-search-widget-buttons {
    margin-top: 0px;
    margin-right: 2px;
    clear: both;
    float: right;
    /* min-width: 500px; */
}

.ajb-salary-holder label {
    margin-top: 10px;
    padding-top: 0px;
}


.ajb-search-widget label {
    font-weight: bold;
    width: 230px;
    min-height: 16px;
    font-size: 14px;
}


.ajb-keywords {
    color: $fontColour;
    width: 255px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.adlogic_job_details_container div.adlogic_recruiter_logo {
    margin: 10px auto 0;
    background: url(../images/logo_ability_options.png) no-repeat 50% !important;
    height: 70px !important;
}



/********************************************
*********************************************
*********************************************

        SEARCH PAGE

*********************************************
*********************************************
*********************************************/

.adlogic_search_loading_div {
	width: 100px;
	height: 100px;
	background: url(../adlogic-job-board/images/3.GIF) no-repeat;
	display: block;
	clear: both;
	margin: 35px auto;
}
#adlogic_job_loading {
    position: absolute;
    width: 100%;
}

#adlogic_search_container {
    position: relative;
}

.adlogic_job_results .position {
	border: 1px solid $mainColour;
	margin: 10px 5px;
	padding: 10px 10px 20px 10px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: bottom right;
}

.adlogic_job_results .position:hover {
	border: 1px solid $altColour;
}

.adlogic_job_results h2 {
	margin: 0 0 10px 0 !important;
}

.adlogic_job_results h2 a {
	text-decoration: none;
}

.adlogic_job_results h2 a:hover {
	text-decoration: underline;
}

.position div.ajb_standout_bullets ul {
	list-style-type: disc;
	padding-left: 15px;
	margin: 0 0 10px 15px;
	clear: both;
}

.position span.ajb_location ul a, 
.position span.ajb_classification ul a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
}

.position span.ajb_location ul a:hover, 
.position span.ajb_classification ul a:hover {
	text-decoration: underline;
}


.position span.ajb_location ul, 
.position span.ajb_classification ul {
	display: inline-block;
	padding-left: 0px;
	margin: 0;
}

.position span.ajb_location li:first-child, 
.position span.ajb_classification li:first-child {
	list-style: none;
	list-style-image: none;
	margin-left: 0;
}

.position span.ajb_location ul li, 
.position span.ajb_classification ul li {
	float: left;
	margin: 0 10px;
}

.position p {
	width: auto !important;
	margin: 0 0 10px !important;
}

.position div.ajb_search_results_meta {
	margin: 0 0 -10px 0;
}

.adlogic_job_results .position br.ajb-clear-div {
	margin: 0;
	padding: 0;
	display: none;
}

div.ajb_job_content {
	font-size: 14px;
	color: $fontColour;
	font-weight: 400;
}

.adlogic_search_loading_div {
	width: 32px;
	height: 32px;
	background: url(images/ajax-loading.gif) no-repeat;
	display: block;
	clear: both;
	margin-top: -32px;
	float: left;
}

.adlogic_pagination_bar {
	width: 100%;
	margin-top: 0px;
}

.adlogic_pagination_bar ul {
	list-style-type:none;
	float: right !important;	
	margin: -20px auto 0 50px !important;
}
	
.adlogic_pagination_bar ul li {
	padding: 5px;
	float: left;
	text-align: center;
	font-size: 14px;	
	list-style-type: none;
}

.adlogic_job_results .ajb_social_sharing_container {
	float:right;
	margin: 0;
	padding: 0;
}

.adlogic_job_results .ajb_social_sharing_sites .ajb_social_sharing_site {
	float: left;
}

.adlogic_job_results .date {
	clear: both;
	font-size: 14px;
    font-family: $altFont;
	color: $fontColour;
	font-weight: 400;
	margin-bottom: 10px;
}

.ajb-save-job {
	height: 32px;
	width: 32px;
	background-image: url('images/star-empty-big.png');
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 2px;
}

.ajb-save-job:hover, 
.ajb-save-job:active, 
.ajb-save-job:focus {
	background-image: url('images/star--plus-big.png');
	cursor: pointer;
	background-color: #EEEEEE;
	height: 32px;
	width: 32px;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 10px 2px #BBBBBB;
}

.ajb-save-job.saved {
	background-image: url('images/star-big.png');
}

.ajb-save-job.saved:hover {
	background-image: url('images/star--minus-big.png');
}

@media(max-width: 678px) {
	.position span.ajb_location ul li, .position span.ajb_classification ul li {
		width: 100% !important;
		padding: 0 !important;
		list-style-type: none !important;
		margin: 0 !important;
	}

	.position span.ajb_location ul, .position span.ajb_classification ul {
		margin: 10px 0 !important;
	}

}




/********************************************
*********************************************
*********************************************

        JOB DETAILS PAGE

*********************************************
*********************************************
*********************************************/


.adlogic_search_loading_div {
	width: 100px;
	height: 100px;
	background: url(../adlogic-job-board/images/3.GIF) no-repeat;
	display: block;
	clear: both;
	margin-top: -32px;
	margin: 35px auto;
}
#adlogic_job_container {
	position: relative;
}
div#adlogic_job_loading {
    position: absolute;
    width: 100%;
    z-index: 9999999;
}

.adlogic_job_expired {
	width: 580px;
	height: 580px;
	background: url(../adlogic-job-board/images/expired.png) no-repeat right top;
	position: absolute;
	z-index: 1;
}

div.adlogic_job_details_container {
	width: 100%;
	padding: 0;
	position: relative;
	border: 1px solid #000000;
	margin: 21px auto 0;
	clear: both;
	max-width: 440px;
}

.adlogic_job_details_container ul.adlogic_job_details_bullet_ul {
	margin: 0 0 10px;
	padding-left: 25px;
}

.adlogic_job_details_container ul.adlogic_job_details_bullet_ul li {
	list-style-type: disc;
	font-size: 14px;
}

.adlogic_job_details_container div.adlogic_recruiter_logo {
	margin: 10px auto 0;
	background: url(../adlogic-job-board/images/logo.png);
	width: 300px;
	height: 100px;
}

.adlogic_job_details_container div.adlogic_job_details_description {
	font-size: 14px;
}

.adlogic_job_details_container div.adlogic_job_details_description strong {
	font-size: 14px;
}

.adlogic_job_details_container .adlogic_job_details_description ul {
	margin: 10px 0px 10px 0px;
	padding-left: 30px;
	clear: both;
	width: auto !important;
}

.adlogic_job_details_container .adlogic_job_details_description ul li {
	list-style-type: disc;
	padding-left: 0px;
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0;
}

.adlogic_job_expired_details .adlogic_job_details_button_bar {
	display: none;
}

.adlogic_job_details_button_bar {
	text-align: center;
	clear: both;
}

.adlogic_job_details_container div.adlogic_social_sharing_container,
.adlogic_job_details_container div#adlogic_social_sharing_container {
    width: 160px;
    margin: 30px auto 0;
    height: 32px;
}

.adlogic_job_details_container div.adlogic_social_sharing_container .ajb_social_sharing_site,
.adlogic_job_details_container div#adlogic_social_sharing_container .ajb_social_sharing_site {
	float:right;
}

.ajb-consultant-profile .ajb-consultant-image {
	background-image: url(../adlogic-job-board/images/nouser.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 0px;
	max-width: 200px;
	max-height: 200px;
	width: 100%;
	height: 200px;
	border: 1px solid #000;
}
.ajb-consultant-profile {
    background: #e2e2e2;
    float: left;
    padding: 10px 10px 0px 10px;
}
.ajb-consultant-profile .ajb-consultant-name {
    font-size: 18px;
    margin-bottom: 5px;
}
.ajb-consultant-profile .ajb-contact-methods {
    padding: 0;
}
.ajb-consultant-profile .ajb-contact-methods li {
    list-style-type: none;
}
.linkedInLoginButton {
	background: url(../adlogic-job-board/images/applywithlinkedin.png) no-repeat;
	width: 184px !important;
	height: 33px !important;
	position: relative;
	text-indent: -99999px;
	display: inline-block;
}
.adlogic_inner_container {
    padding: 0 15px;
}
.adlogic_job_details_inner {
    padding: 0 15px;
}

.adlogic_job_details_container .adlogic_job_details_footer center {
    text-align: left;
}

@media(max-width: 650px) {
    .adlogic_inner_container {
        padding: 0 15px 20px;
    }
    .adlogic_job_details_button_bar {
        display: none;
        button {
            width: 100% !important;
        }
    }
    .adlogic_job_details_button_bar_mobile {
        display: block !important;
        max-width: 440px;
        margin: 25px auto;
        button {
            width: 100%;
            margin: 2px 0;
            font-size: 18px;
        }
        button:hover {
            width: 100% !important;
            margin: 2px 0;
            font-size: 18px;
        }
        .adlogic_job_details_back {
            display: none;
        }
        .adlogic_apply_container {
            margin-bottom: 30px;
        }
        #adlogic_sharing_options {
            display: none;
        }
    }
   
}