<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 current-job-box m-auto d-block" onclick="location.href='{job_link}';" id="{job_id}">
	<div class="current-job-box-text boxes1">
		<div class="d-flex w-100">
		
			<h4 class="job_title"><a href="{job_link}" >{job_title} </a></h4>
		</div>
		<p class="current-job-descr">
			{job_description}
		</p>
		<p claas="currrent-job-posted-date">
			Posted Date: {job_post_date}
		</p>
		<!-- <p class="current-job-text-close" id="job-search-location" style="margin-bottom:0 !important;">Location:</p><b id="location-crumbs"> {job_location_breadcrumbs count="0"}</b>
		<p class="current-job-text-close" id="job-search-class" style="margin-bottom:0 !important;">Classification:</p><b id="class-crumbs"> {job_classification_breadcrumbs count="1"}</b> -->
	</div>
	<hr>
</div>
