<div class="col-md-6 current-job-box" id="{job_id}">
	<div class="current-job-box-text boxes1">
		<h4 class="job_title">{job_title}</h4>
		<p class="current-job-text-kind-of-job">{job_worktype_link}</p>
		<p class="current-job-text-description">{job_description}</p>
		<div class="row">
			<div class="col-lg-12 col-md-8 col-xs-12">
				<p class="current-job-text-close" style="margin-bottom:0 !important;">Location:</p><b> {job_location_breadcrumbs count="2"}</b>
			</div>
		</div>
		<div class="current-job-box-apply-btn button1">
			<a href="{job_link}" class="applybtn" >
				<div id="current-job-box-black-buttom" class="current-job-box-black-buttom current-job-box-black-buttom-text">
					<h4 class="special-header">VIEW MORE</h4>
				</div>
			</a>
		</div>
	</div>
</div>